form.registerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

form.registerForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form.registerForm div label {
  font-size: 0.8rem;
  padding-left: 2px;
}

form.registerForm div input,
select {
  font-size: 18px;
  padding: 6px;
  border-radius: 8px;
  border: none;
  box-shadow: inset 1px -1px 3px #ccc;
}

.teamSelect {
  align-self: flex-start;
}

form.registerForm button {
  align-self: center;
  margin-top: 1rem;
}
