.calendarContainer {
  width: 100%;
}

.calendarContainer h2 {
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 2rem;
}
.calendarContainer h2 span button {
  background-color: var(--black);
  box-shadow: unset;
  color: var(--white);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}
.weeklyColumn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0rem;
}

button.assignVolunteer {
  padding: 2px 6px;
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: var(--brown);
  color: var(--gold);
  font-weight: 700;
}

.weeklyColumn h3 {
  width: 100%;
  text-align: center;
  border: 1px solid var(--black);
  font-size: 0.8rem;
  padding-block: 4px;
}

.volunteersForThisWeek {
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listBody {
  position: relative;
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-right: 1px solid var(--black);

  width: 100%;
  height: 12rem;
  overflow-y: auto;
  text-align: center;
  list-style-type: none;
  padding-top: 0.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.listBody li {
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}

ul.listBody select.vSelect {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  font-size: 10px;
}

.vSelect option {
  font-size: 12px;
  text-align: center;
}
